* {
    box-sizing: border-box;
}

:root {
    --clr-dark: #0f0d0e; 
    --clr-red: #cc0000;
}

body {
    font-family: "Karla", sans-serif;
    margin-top: 1.5rem;
    width: 30rem;
    margin-inline: auto;
    padding: 1rem;
    background-color: var(--clr-dark);
}

#root {
    background-color: white;
    border: 2px solid var(--clr-dark);
    padding: 1rem;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    height: 4rem;
    background: linear-gradient(90deg, #0F9ACB 1.18%, #12B5E5 100%);
    color: white;
    padding: 1.3rem;
    border-radius: 3px;
}

.header--emoji {
    /* height: 100%; */
    margin-right: 0.5rem;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
    margin-left: 0.5rem;
}

.slogan {
    font-size: 1.3rem;
    color: var(--clr-red);
    font-weight: 700;
    margin-inline: auto;
    text-align: center;
}

.form {
    display: grid;
    grid-template: 2.5rem 2.5rem / 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1.5px solid #D5D4D8;
    text-indent: 5px;
}

.form--input:focus,
.form--button:focus {
    outline: 2px solid var(--clr-dark);  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 3px;
    background: linear-gradient(90deg, #0F9ACB 1.14%, #12B5E5 100%);
    color: var(--clr-dark);
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem 0;
    padding: 0 0.3rem;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}